mixin menu(data)
  section.menu
    .menu-items
      //- Menu item
      a(href="#").menu-item
        .menu-item__photo
          img(src="static/img/assets/menu/m1.jpg", alt="Menu")
        .menu-item__name
          span Улов дня
      //- Menu item
      a(href="#").menu-item
        .menu-item__photo
          img(src="static/img/assets/menu/m2.jpg", alt="Menu")
        .menu-item__name
          span Улов дня
      //- Menu item
      a(href="#").menu-item
        .menu-item__photo
          img(src="static/img/assets/menu/m3.jpg", alt="Menu")
        .menu-item__name
          span Улов дня
      //- Menu item
      a(href="#").menu-item
        .menu-item__photo
          img(src="static/img/assets/menu/m4.jpg", alt="Menu")
        .menu-item__name
          span Улов дня
      //- Menu item
      a(href="#").menu-item
        .menu-item__photo
          img(src="static/img/assets/menu/m5.jpg", alt="Menu")
        .menu-item__name
          span Улов дня