doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/bgfixed/bgfixed
  include ../components/breadcrumbs/breadcrumbs
  include ../components/contacts/contacts
  include ../components/footer/footer

  head
    +head(head.defaults)
    <head>
    script(src="https://api-maps.yandex.ru/2.1/?apikey=24467a42-9129-4542-87f1-7dfa356251de&lang=ru_RU" type="text/javascript")
  body.page
    |%=symbols=%

    main.assunta-main

      +header()

      +bgfixed('static/img/assets/contacts/contacts.jpg')

      +breadcrumbs()

      +contacts()
      
      +footer()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')