@font-face {
 font-family: 'QuantantiQuaPlain';
 src: url('../fonts/QuantantiQuaPlain/QuantantiQuaPlain.eot');
 src: url('../fonts/QuantantiQuaPlain/QuantantiQuaPlain.eot?#iefix') format('embedded-opentype'),
         url('../fonts/QuantantiQuaPlain/QuantantiQuaPlain.woff') format('woff'),
         url('../fonts/QuantantiQuaPlain/QuantantiQuaPlain.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'QuantantiQuaBold';
 src: url('../fonts/QuantantiQuaBold/QuantantiQuaBold.eot');
 src: url('../fonts/QuantantiQuaBold/QuantantiQuaBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/QuantantiQuaBold/QuantantiQuaBold.woff') format('woff'),
         url('../fonts/QuantantiQuaBold/QuantantiQuaBold.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

$Reg = 'QuantantiQuaPlain', sans-serif;
$Bold = 'QuantantiQuaBold', sans-serif;