mixin home(data)
  section.home
    .home-video
      video(id='home-vid' src="video.mp4" muted autoplay="autoplay" loop="loop" allow="autoplay")
    .home-content
      h1 Итальянский рыбный ресторан Assunta Madre