mixin footer(data)
  footer.footer
    .content
      .footer-wrapper
        .footer-left
          .footer-socials
            ul
              li
                a(href="#", target="_blank", rel="nofollow")
                  img(src="static/img/assets/footer/f1.svg", alt="Socials")
              li
                a(href="#", target="_blank", rel="nofollow")
                  img(src="static/img/assets/footer/f2.svg", alt="Socials")
              li
                a(href="#", target="_blank", rel="nofollow")
                  img(src="static/img/assets/footer/f3.svg", alt="Socials")
        .footer-center
          address Москва, Поварская 52/55, к. 2 | 
          a(href="mailto:info@assuntamadre.ru") info@assuntamadre.ru  |
          span Подписаться на новости
        .footer-right 
          span 2021 © Assunta Madre