.footer
  background $GRAY
  height 45px
  display flex
  align-items center
  .content
    height 100%
  &-wrapper
    height 100%
    display flex
    justify-content space-between
    align-items center

  &-socials
    ul
      display flex
      align-items center
      li
        margin-right 15px
        &:last-child
          margin-right 0
      a
        display flex
        justify-content center
        width 22px
        height 22px
        align-items center

.footer
  &-center
    display flex
    align-items center
    justify-content center
    > *
      color $BK
      margin-right 10px
      display inline-block
      transition $tr
      &:last-child
        margin-right 0
      &:hover
        text-decoration underline
        color $GOLD