mixin about(data)
  section.about
    .content
      .title
        h1 О ресторане
      
      .about-paragraph
        p Ресторан Assunta Madre на Поварской открылся в Москве в 2017 году.
        p Также рестораны под этим названием работают в Риме, Милане, Порто-Черво, Лондоне, Барселоне и Нью-Йорке.
        p Каждый день к вечеру начинает звучать живая музыка, которая дополняет и является важным акцентом ресторана.
        h2 Свежесть и качество    
        p Ресторан с  первого дня открытия самостоятельно осуществляет регулярную поставку свежей дикой рыбы и морепродуктов, предназначенных для вашего уникального вкусового путешествия.
        p Мы поставляем лучшую рыбу и свежайшие морепродукты с берегов Италии и Марокко: пагр, тюрбо, сибас, морской петух, дорадо, рыба-скорпион и многое другое.
        p Команда Assunta Madre готова предоставить гостям все самое полезное и ценное, что может дать человеку море. А наш шеф-повар, Кателло, с фирменными рецептами приготовления итальянских блюд, заставит вас вернуться и испытать позитивные эмоции от посещения ресторана снова.
        h2 Удобное расположение
        p Расположение ресторана очень удачное, как в смысловом, так и в географическом плане: в старинном особняке и в двух минутах ходьбы до Садового кольца.
        p В пешей доступности ресторана Патриаршие пруды, Тверской бульвар и другие достопримечательности столицы, что позволяет гостям после вкусного ужина устроить лёгкий променад.

