mixin delivery(data)
  section.delivery
    .delivery-wrapper
      .delivery-top
        .delivery-top__bg 
          img(src="static/img/assets/delivery/delivery.jpg", alt="")
      .delivery-bottom
        //- Delivery Item
        a(href="#").delivery-item
          .delivery-item__bg
            img(src="static/img/assets/delivery/d1.jpg", alt="Delivery")
          .delivery-item__logo
            img(src="static/img/assets/delivery/d1.png", alt="")
        //- Delivery Item
        a(href="#").delivery-item
          .delivery-item__bg
            img(src="static/img/assets/delivery/d2.jpg", alt="Delivery")
          .delivery-item__logo
            img(src="static/img/assets/delivery/d2.png", alt="")
        //- Delivery Item
        a(href="#").delivery-item
          .delivery-item__bg
            img(src="static/img/assets/delivery/d3.jpg", alt="Delivery")
          .delivery-item__logo
            img(src="static/img/assets/delivery/d3.png", alt="")