mixin news(data)
  section.news
    .content
      .title
        h1 События
      
      .news-items
        
        //- News Item
        a(href='#').news-item
          .news-item__wrapper
            .news-item__content
              .news-item__name Настоящая итальянская пицца из дровяной печи
              .news-item__paragraph
                p В поисках идеальной пиццы не обязательно отправляться на ее родину. Под тонким контролем шефа Кателло Сансоне рождаются...
            .news-item__photo
              img(src="static/img/assets/news/n1.jpg", alt="News")
          
        //- News Item
        a(href='#').news-item
          .news-item__wrapper
            .news-item__content
              .news-item__name Настоящая итальянская пицца из дровяной печи
              .news-item__paragraph
                p В поисках идеальной пиццы не обязательно отправляться на ее родину. Под тонким контролем шефа Кателло Сансоне рождаются...
            .news-item__photo
              img(src="static/img/assets/news/n2.jpeg", alt="News")
          
        
        //- News Item
        a(href='#').news-item
          .news-item__wrapper
            .news-item__content
              .news-item__name Настоящая итальянская пицца из дровяной печи
              .news-item__paragraph
                p В поисках идеальной пиццы не обязательно отправляться на ее родину. Под тонким контролем шефа Кателло Сансоне рождаются...
            .news-item__photo
              img(src="static/img/assets/news/n3.jpg", alt="News")
          
        
        //- News Item
        a(href='#').news-item
          .news-item__wrapper
            .news-item__content
              .news-item__name Настоящая итальянская пицца из дровяной печи
              .news-item__paragraph
                p В поисках идеальной пиццы не обязательно отправляться на ее родину. Под тонким контролем шефа Кателло Сансоне рождаются...
            .news-item__photo
              img(src="static/img/assets/news/n4.jpg", alt="News")
          