.button
  display inline-flex
  align-items center
  height 38px 
  justify-content center
  padding-left 30px
  padding-right 30px
  bb()
  border: 1px solid $WH
  transition $tr
  outline none
  border-radius 7px
  &:hover
    border-color $GOLD
    background $GOLD
  span
    color $WH
    transition $tr
    font-size 14px
    text-transform uppercase
  &.button-black
    border 1px solid $BK
    &:hover
      border 1px solid $GOLD
      span
        color $WH
    span
      color $BK
