mixin slider(data)
  section.slider
    .content
      .title
        h2 Наши соыбтия и акции
      
      .slider-wrapper
        .slider-items

          .slider-item
            //- News Item
            a(href='#').news-item
              .news-item__wrapper
                .news-item__content
                  .news-item__name Настоящая итальянская пицца из дровяной печи
                  .news-item__paragraph
                    p В поисках идеальной пиццы не обязательно отправляться на ее родину. Под тонким контролем шефа Кателло Сансоне рождаются...
                .news-item__photo
                  img(src="static/img/assets/news/n1.jpg", alt="News")
          .slider-item
            //- News Item
            a(href='#').news-item
              .news-item__wrapper
                .news-item__content
                  .news-item__name Настоящая итальянская пицца из дровяной печи
                  .news-item__paragraph
                    p В поисках идеальной пиццы не обязательно отправляться на ее родину. Под тонким контролем шефа Кателло Сансоне рождаются...
                .news-item__photo
                  img(src="static/img/assets/news/n2.jpeg", alt="News")
          
          .slider-item
            //- News Item
            a(href='#').news-item
              .news-item__wrapper
                .news-item__content
                  .news-item__name Настоящая итальянская пицца из дровяной печи
                  .news-item__paragraph
                    p В поисках идеальной пиццы не обязательно отправляться на ее родину. Под тонким контролем шефа Кателло Сансоне рождаются...
                .news-item__photo
                  img(src="static/img/assets/news/n3.jpg", alt="News")
          
          .slider-item
            //- News Item
            a(href='#').news-item
              .news-item__wrapper
                .news-item__content
                  .news-item__name Настоящая итальянская пицца из дровяной печи
                  .news-item__paragraph
                    p В поисках идеальной пиццы не обязательно отправляться на ее родину. Под тонким контролем шефа Кателло Сансоне рождаются...
                .news-item__photo
                  img(src="static/img/assets/news/n4.jpg", alt="News")