.breadcrumbs
  margin-bottom 20px
  ul
    display flex
    align-items center
    li
      &::after
        content '/'
        margin 0 5px
      &:last-child
        a
          pointer-events none
        &::after
          content none
    a
      transition $tr
      &:hover
        color $GOLD