mixin abroad(data)
  section.abroad
    .content
      .abroad-items
        //- Abroad Item
        a(href="#").abroad-item
          .abroad-item__photo
            img(src="static/img/assets/abroad/a1.jpg", alt="Abroad")
          .abroad-item__name
            span Интерьер
        //- Abroad Item
        a(href="#").abroad-item
          .abroad-item__photo
            img(src="static/img/assets/abroad/a2.jpg", alt="Abroad")
          .abroad-item__name
            span Философия
        //- Abroad Item
        a(href="#").abroad-item
          .abroad-item__photo
            img(src="static/img/assets/abroad/a3.jpeg", alt="Abroad")
          .abroad-item__name
            span Терраса